<div data-control="toolbar">
    <a href="<?= Backend::url('entopancore/galleries/galleries/update/'.$this->params[0]) ?>" class="btn btn-primary oc-icon-caret-left"><?= e(trans('backend::lang.form.return_to_list')) ?></a>
</div>